<small id="blockq" title="---CEO DashNG">
	We Welcome You Once Again To DashNG, We Render A Platform That Enables Our Prospective Users, Both Free And Premium Members, To Upload Their Documents To The Cloud. DashNG Is A General / All-Purpose Application That Saves Your Files Securely And Can Easily Be Downloaded As and When Required. No LIMIT Is Set To The Number Of Times Documents Can Be Uploaded, Powers All Data structure, Data Content-Type(**extentions**) Including Unlimited Data Upload Size, Though Restrictions Are Levied Against Free Users. Your Interest Comes First Simply Because We Care About You. Thank You Once Again And Go On, Enjoy <span style="color: gold; font-weight: bold;">DashNG</span>.
</small>
<br>
	<FOOTER class="pull-right">CEO, DashNG.
	</FOOTER>
</BLOCKQUOTE>