


<div id="scarf" class="alert alert-warning hidden-xs hidden-sm" role="alert"><marquee scrollamount="3"><b><i class="fa fa-television" aria-hidden="true"></i>&nbsp;Gallery Section Renders Your Media Files Only, DashNG Provides Access To VIDEO And IMAGE FILES, Five Files Based On Recency And  Anciency Are Displayed  Here In Your Gallery. </b></marquee></div>
<div id="scarf2" class="alert alert-warning hidden-lg hidden-md" role="alert"><marquee scrollamount="3" ><b><i class="fa fa-television" aria-hidden="true"></i>&nbsp;Gallery Section Renders Your Media Files Only, DashNG Provides Access To VIDEO And IMAGE FILES, Five Files Based On Recency And  Anciency Are Displayed Here In Your Gallery. </b></marquee></div>
