
<div class="modal fade" id="delete4audio" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" style="padding-right: 17px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <div class="hidden-xs hidden-sm hidden-md">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="gridSystemModalLabel" style="color: red;"> &nbsp;&nbsp;<i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;Ready to Delete Audio(s)?</h5>
      </div>
      <div class="modal-body hidden-xs hidden-sm hidden-md">
          <p>Select "Delete Folder" below if you are ready to delete the entire item(s) in the folder.</p>

      </div>
      <div class="modal-footer hidden-xs hidden-sm hidden-md" >
        <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cancel</button>
         <button type="submit" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Folder
          </button>
      </div> <!-- for hidden -->
      </div>
      <div class="modal-header">
       <div class="hidden-lg">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h6 class="modal-title pull-left" id="gridSystemModalLabel" style="color: red;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;Ready to Delete Audio(s)?</h6>
      </div><br>
      <div class="modal-body hidden-lg " >
          <h6 class="small pull-left">Select "Delete Folder" below<br> if you are ready to delete<br> the entire item(s) in the folder.</h6>
          <br><br>
      </div>
      <div class="modal-footer pull-left hidden-lg">
      <hr>
        <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cancel</button>
         <button type="submit" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Folder
          </button>
      <hr>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->