<!-- banner -->
  {% load static %}
  {% url "BeginningDash:loginX_regX" as loginX_regX %}  
  {% url "BeginningDash:contact" as contact %} 
  {% url "BeginningDash:aboutus" as aboutus %} 
  {% url "BeginningDash:aboutfornonuser" as aboutfornonuser %} 

<div class="banner" id="home">
  <div class="banner-overlay-agileinfo">
  <div class="top-header-agile">
    <h1><a class="col-md-4 navbar-brand" href="{% url 'BeginningDash:home' %}">DashNG<span>We Save Your Files For The Future</span></a></h1>
    <div class="col-md-4 top-header-agile-right">
        
      </div>
      <div class="col-md-4 top-header-agile-left">
        <ul class="num-w3ls">
          <li><i class="fa fa-phone" aria-hidden="true"></i></li>
          <li>+2349062360533</li>
        </ul>
        <div class="w3ls_search">
                          <div class="cd-main-header">
                            <ul class="cd-header-buttons">
                              <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                            </ul> <!-- cd-header-buttons -->
                          </div>
                        <div id="cd-search" class="cd-search">
                        <div class="hidden-xs hidden-sm"><h5 style="color: whitesmoke; font-weight: bold;"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;DashNGSuper all data-safe platform [Upgrade Coming Soon!]</h5></div>
                        <div class="hidden-md hidden-lg"><h5 style="color: whitesmoke; font-weight: bold;"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;[Upgrade Coming Soon!].</h5></div>
                        </div>
                        </div>
          </div>
      
      <div class="clearfix"></div>
    </div>

    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
 
          <nav class="link-effect-3" id="link-effect-3">
            <ul class="nav navbar-nav">
              <li {% if request.path == loginX_regX %} class="active" {% endif %}><a href="{% url 'BeginningDash:loginX_regX' %}" data-hover="Home">Home</a></li>
              <li  {% if request.path == aboutfornonuser %} class="active" {% endif %}><a href="{% url 'BeginningDash:aboutfornonuser' %}"><span class="glyphicon glyphicon-globe"></span> About Us</a></li>      
              <li {% if request.path == mycontact4offlineuser %} class="active" {% endif %}><a href="{% url 'BeginningDash:mycontact4offlineuser' %}" data-hover="Contact Us">Contact Us</a></li>
              
            </ul>
          </nav>
    
         
    
        </div>
      </nav>  
      <div class="w3l_banner_info">
        <section class="slider">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <div class="wthree_banner_info_grid">
                  <h3><span>HiTech</span>Welcome to <br>DashNG~VS</h3>
                  <p>We save your files for the future</p>
                </div>
              </li>
              <li>
                <div class="wthree_banner_info_grid">
                  <h3><span>Cloud</span>Files<br>Securely stored</h3>
                  <p>Stores Automatically In Our Cloud Database</p>
                </div>
              </li>
              <li>
                <div class="wthree_banner_info_grid" style="color: black;">
                  <h3><span>CSRF</span>Featuring the  <br>Latest Build Of </h3>
                  <p>Tight Web-Security!</p>
                </div>
              </li>
              <li>
                <div class="wthree_banner_info_grid">
                  <h3><span>Access</span>Ready To Use <br>With Your Files</h3>
                  <p>Easily Uploadable And Downloadable At Ease!</p>
                </div>
              </li>
            </ul>
          </div>
        </section>
            
      </div>      
    </div>
  </div>
</div>
<!-- //banner --> 