{% load static %}
<!--/services-->
<div class="services-w3-agileits w3agileits-ref">
  <div class="col-md-6 services-left">
    <div class="service-grid1">
      <div class="col-md-4 service-grids-w3ls">
        <i class="fa fa-language" aria-hidden="true"></i>
        <h5>Language Translation</h5>
        <p>DashNGSuper is officially written in English, however, our pages can be translated to lots of local and foreign languages. </p>
      </div>
      <div class="col-md-4 service-grids-w3ls">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h5>Large Base Users</h5>
        <p>Our users span across different continents.</p>
      </div>
      <div class="col-md-4 service-grids-w3ls">
        <i class="fa fa-life-ring" aria-hidden="true"></i>
        <h5>Premium Upgrade</h5>
        <p>We power upgrade to premium to allow users have unlimited access.</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="service-grid2">
      <div class="col-md-4 service-grids-w3ls">
        <i class="fa fa-database" aria-hidden="true"></i>
        <h5>Dynamic Database</h5>
        <p>We present not just tough but a dynamic database.</p>
      </div>
      <div class="col-md-4 service-grids-w3ls">
        <i class="fa fa-crosshairs" aria-hidden="true"></i>
        <h5>Traffic Regulations</h5>
        <p>Our unique traffic regulators provides a stable means for easy-accessibility of the site.</p>
      </div>
      <div class="col-md-4 service-grids-w3ls">
        <i class="fa fa-upload" aria-hidden="true"></i>
        <h5>Files Upload</h5>
        <p>A Free user enjoy the total upload of 1GB(Gigabyte;) and premium users enjoy more.</p>
      </div>
      <div class="clearfix"></div>
    </div>    
  </div>
  <div class="col-md-6  services-right">
    <div class="services-info">
      <h3 class="tittle-agileits-w3layouts white-w3ls">Who We Sponsor</h3>
      <p class="para-w3-agile white-w3ls">
        Have you ever thought of making money online ??<br>
        voilà !! you have come to the right place.<br>
        We give you a means to make and invest in wealth for yourself for free.<br>
        Care to know more?? 
      </p>
      <a href="{% url 'BeginningDash:aboutfornonuser'  %}" class="button-w3layouts hvr-rectangle-out">Learn more</a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!--//services-->

<!-- background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-ms-background-size: cover;padding: 5em 7em; -->