
    <p>
        Please read these Terms of Service ("Terms", "Terms of Service")
 carefully before using the https://dashngsuper.com website (the "Service") 
operated by DashngSuper ("us", "we", or "our").<br>
        Your access to and use of the Service is conditioned on your 
acceptance of and compliance with these Terms. These Terms apply to all 
visitors, users and others who access or use the Service.<br>
        By accessing or using the Service you agree to be bound by these
 Terms. If you disagree with any part of the terms then you may not 
access the Service.
    </p>

    <ol class="sections">
        <li>
            <h4>Accounts</h4>
            <ol class="terms" >
                <li>When you create an account with us, you must provide
 us information that is accurate, complete, and current at all times. 
Failure to do so constitutes a breach of the Terms, which may result in 
immediate termination of your account on our Service.</li>
                <li>We store your password in an irreversible format. In
 the unlikely event of someone hacking into your account, we will not be
 held responsible.</li>
                <li>You are responsible for safeguarding the password 
that you use to access the Service and for any activities or actions 
under your password, whether your password is with our Service or a 
third-party service.</li>
                <li>You agree not to disclose your password to any third
 party. You must notify us immediately upon becoming aware of any breach
 of security or unauthorized use of your account.</li>
                <li>You can only have one account. Any attempt to create more than one account will lead to the termination of all of them.</li>
                <li>Your email addresses will not be shown, given or sold.</li>
                <li>Accounts are not transferable.</li>
            </ol>
        </li>

        <li>
            <h4>Links To Other Websites</h4>
            <ol class="terms">
                <li>Our Service may contain links to third-party websites or services that are not owned or controlled by Dashngsuper.com</li>
                <li>Dashngsuper has no control over, and assumes no 
responsibility for, the content, privacy policies, or practices of any 
third party websites or services. You further acknowledge and agree that
 Dashngsuper shall not be responsible or liable, directly or indirectly, for
 any damage or loss caused or alleged to be caused by or in connection 
with use of or reliance on any such content, goods or services available
 on or through any such websites or services.</li>
                <li>We strongly advise you to read the terms and 
conditions and privacy policies of any third-party websites or services 
that you visit.</li>
            </ol>
        </li>

        <li>
            <h4>Termination</h4>
            <ol class="terms">
                <li>We may terminate or suspend access to our Service 
immediately, without prior notice or liability, for any reason 
whatsoever, including without limitation if you breach the Terms.</li>
                <li>All provisions of the Terms which by their nature 
should survive termination shall survive termination, including, without
 limitation, ownership provisions, warranty disclaimers, indemnity and 
limitations of liability.</li>
                <li>We may terminate or suspend your account 
immediately, without prior notice or liability, for any reason 
whatsoever, including without limitation if you breach the Terms.</li>
                <li>Upon termination, your right to use the Service will
 immediately cease. If you wish to terminate your account, you may 
simply discontinue using the Service.</li>
                <li>All provisions of the Terms which by their nature 
should survive termination shall survive termination, including, without
 limitation, ownership provisions, warranty disclaimers, indemnity and 
limitations of liability.</li>
            </ol>
        </li>

        <li>
            <h4>Liability</h4>
            <ol class="terms">
                <li>We will not be liable for any kind of delays or 
failures that are not directly related to Dashngsuper and therefore beyond 
our control.</li>
                <li>We will not be held responsible for any of our 
users, advertisers, advertisements or publishers. This also includes 
every supplier we depend on.</li>
            </ol>
        </li>

        <li>
            <h4>Changes</h4>
            <ol class="terms">
                <li>We reserve the right, at our sole discretion, to modify or replace these Terms at any time.</li>
                <li>By continuing to access or use our Service after 
those revisions become effective, you agree to be bound by the revised 
terms. If you do not agree to the new terms, please stop using the 
Service.</li>
            </ol>
        </li>

        <li>
        <style type="text/css">
            a#mailinn{
                    color: whitesmoke;
                }
            a#mailinn:hover{
                color: gold;
            }
        </style>
            <h4>Contact Us</h4>
            <ol class="terms">
                <li>If you have any questions about these Terms, please contact us at <a id="mailinn" href="mailto:dashngsuper@gmailcom">support@dashngsuper.com</a></li>
            </ol>
        </li>
    </ol>