
{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>{{title}} | DashNG~Vs.</title>
<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Scholar Vision Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->
<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-CSS --> <link href="{% static 'contactpage/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Font-awesome-CSS --> <link href="{% static 'contactpage/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- Index-Page-CSS --><link href="{% static 'contactpage/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom-Stylesheet-Links -->
<!--web-fonts-->
<!-- Headings-font --><link href="//fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600,700" rel="stylesheet">
<!-- Body-font --><link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<!--//web-fonts-->
<!--//fonts-->
<!-- js -->
<!-- myfontawesome--><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
{% include 'newpartials/banner2.html' %}
<div class="container" align="middle">
	 {% if confirm_message %}
	 <div class="well well-sm" style="background:black;color: gold;"><i class="fa fa-envelope-square" aria-hidden="true"></i>&nbsp;{{confirm_message }}</div>
	 {% endif %}
</div>
<!-- contact -->
	<!--about-inner-->
<!--about-top-->
<div class="about-top-w3layouts">
<div class="container">
    <h3 align="middle" title="Click To Reveal Secret"><a href="#secretmoney"><i class="fa fa-usd" aria-hidden="true"></i><i class="fa fa-usd" aria-hidden="true"></i>&nbsp;Want to start making money today ?</a></h3><hr>
	<h3 class="tittle-agileits-w3layouts" align="middle">All we do is save your <span class="green-w3">files</span> for the <span>future.</span></h3>
	<style type="text/css">
		#abt-img {
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-ms-background-size: cover;
			min-height: 300px;
			border: 3px solid #1bb4b9;
	   }
		#abt-img {
			min-height: 235px;
		}
	</style>
	<div align="middle">
	<img id="abt-img" src="{% static '/contactpage/images/upload.jpg' %}" class="img-responsive"> 
	</div>

	<div class="abt-iinfo-w3ls">
		<div class="col-md-4 about-grids">
			<h5>Strong Servers</h5>
			<p class="para-w3-agile">DashNG Super renders pages at a very fast speed, our unique traffic regulators make this possible. You get the best simply by using our services.This enhances the medium through which we take in protecting or saving your file(s) for the future. </p>
		</div>
		<div class="col-md-4 about-grids">
			<h5>Dynamic Database</h5>
			<p class="para-w3-agile">Our database is watched constantly to prevent any form of illegal or illicit affairs, we do this to protect our members against threat and against themselves. The dynamicity of our database shows clearly when actions referred to as "illicit" is initiated. </p>
		</div>
		<div class="col-md-4 about-grids">
			<h5>Unique traffic regulators</h5>
			<p class="para-w3-agile">Our Unique traffic regulators creates a safe-haven for our strong servers to operate at optimum, with this you ( our member ) do not have to worry about the effect of pack of users logging on or uploading parri-passu.</p>
		</div>
	</div>
</div>
</div>
<!--//about-top-->
<!-- team-grids -->
<div class="container">
<div class="property-grids">

	<style type="text/css">
		h3#coinpotty{
			cursor: pointer;
		}
	</style>
		<h3 class="tittle-agileits-w3layouts" title="CARE ABOUT MAKING MONEY ONLINE ?? CHECK THESE OUT AND THANK US LATER!! ~ DashNGSuper " id="coinpotty"><a name="secretmoney"> We <span>Sponsor</span> All <span> Coinpot Faucets</span></a></h3>
	</div>
     <div class="agile-homes-w3l  grid">
                <div class="col-md-3 home-agile-left">
				   <figure class="effect-moses">
							<img src="{% static 'contactpage/images/sponsorcoinpot.jpg' %}" class="img-responsive" alt="" />
							
							<figcaption>
							<div class="team-top-block">
								<h4>Coinpot</h4>
									<div class="top-header-agile-right team-w3">
										<ul>
											<li><a href="http://coinpot.co/"><i class="fa fa-usd" aria-hidden="true" title="CLICK TO REGISTER"></i></a></li>
										</ul>
									</div>
								</div>
								<p><a href="http://coinpot.co/"><span style="text-transform:lowercase;">coinpot.co</span></a></p>
							</figcaption>			
				</figure>
				<hr>
				<hr>
				<h4 style="font-weight: bold; color: whitesmoke; background-color: black; border-top-left-radius:5px; border-bottom-right-radius: 5px;">Easy Guide</h4>
				<hr>
				<p><i class="fa fa-circle" aria-hidden="true" style="color: red"></i>&nbsp;|&nbsp;First create a Coinpot account by clicking on the Coinpot banner.</p>
				<hr>
				<p><i class="fa fa-circle" aria-hidden="true" style="color: pink"></i>&nbsp;|&nbsp;Secondly, Sign-up for moonbitcoin by clicking on the Moonbitcoin banner.</p>
				<hr>
				<p><i class="fa fa-circle" aria-hidden="true" style="color:yellow"></i>&nbsp;|&nbsp;Sign-up for Other Faucets by clicking on  Each banner.</p>
				<hr>
				<p><i class="fa fa-circle" aria-hidden="true" style="color: green"></i>&nbsp;|&nbsp;When done.&nbsp;Start claiming unlimitedly and could make more than $2000&nbsp;in a year for free, all it requires is any internet-capable device and your time claiming. If you have any complaint, make an enquiry at <a href="mailto:dashngsuper@gmail.com"> support@dashngsuper.com</a> Enjoy !! </p>
				<hr>

				</div>
				<div class="col-md-9 home-agile-left">
				         <hr>
						<div align="middle">
							<span style="font-weight: bold;">All Coinpot Faucets (7)</span>
						</div>
						<hr>
						<div align="middle">
							<a href="http://bitfun.co/?ref=A9D519C228F4" ><img src="{% static 'contactpage/images/728x90.gif' %}" class="img-responsive" alt="" />
							</a>
						</div>
						<hr>
						<div align="middle">
							<a href="http://moonbit.co.in/?ref=a653027b22db"> <img src="{% static 'contactpage/images/728x90~moonbit.gif' %}" class="img-responsive" alt="" /></a>
						</div>
						<hr>
						<div align="middle">
							<a href="http://moondoge.co.in/?ref=a8f5b8d4e3c5"> <img src="{% static 'contactpage/images/728x90dog.gif' %}" class="img-responsive" alt="" /></a>
						</div>
						<hr>
						<div align="middle">
							<a href="http://bonusbitcoin.co/?ref=A28D84435BD9"> <img src="{% static 'contactpage/images/bonusbit.gif' %}" class="img-responsive" alt="" /></a>
						</div>
						<hr>
						<div align="middle">
							<a href="http://moondash.co.in/?ref=B7FEB202E788"><img src="{% static 'contactpage/images/728x90dash.gif' %}" class="img-responsive" alt="" /></a>
						</div>
						<hr>
						
						<div align="middle">
							<a href="http://moonliteco.in/?ref=e481f63ad522"><img src="{% static 'contactpage/images/728x90lit.gif' %}" class="img-responsive" alt="" /></a>
						</div>
						<hr>
						<div align="middle">
							<a href="http://moonbitcoin.cash/?ref=29859239DDBF"><img src="{% static 'contactpage/images/728x90cash.gif' %}" class="img-responsive" alt="" /></a>
						</div>
						<hr>
						<hr>
				</div>
				
				<div class="clearfix"></div>	
     </div>
</div>
<!-- //team-grids -->

<!--//about-inner-->
<!-- //contact -->
{% include 'newpartials/footer.html' %}
 <!-- copy-right -->
  <div class="copyright-wthree">
    <p>&copy; 2018 DashNG~Vs. All Rights Reserved | Design by <a href="{% url 'BeginningDash:home' %}"> DashNG Team </a></p>
  </div>
  <!-- //copy-right -->
	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->

	
<script type="text/javascript" src="{% static 'contactpage/js/jquery-2.1.4.min.js' %}"></script>
<!--search-bar-->
		<script src="{% static 'contactpage/js/main.js' %}"></script>	
<!--//search-bar-->
 <!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'contactpage/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'contactpage/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
    
  <!-- Dropdown-Menu-JavaScript -->
      <script>
        $(document).ready(function(){
          $(".dropdown").hover(            
            function() {
              $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
              $(this).toggleClass('open');        
            },
            function() {
              $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
              $(this).toggleClass('open');       
            }
          );
        });
      </script>
    <!-- //Dropdown-Menu-JavaScript -->
<!--js for bootstrap working-->
	<script src="{% static 'contactpage/js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
</body>
</html>






































