{%  extends "base.html" %}
{% load static %}
{% block content %}
<title>  Password_reset_done | DashNG</title>
<div class="container">
<div class="row">
    <div class="col-md-6">
        <hr>
        <h1 style="font-family: 'black_jackregular';"><i class="fa fa-paper-plane" aria-hidden="true" style="color: orange"></i>&nbsp;Password Reset Sent</h1><br>
        <hr>
        <p>
         <p><i class="fa fa-envelope-square" aria-hidden="true"></i>&nbsp;We've emailed you instructions for setting your password, if an account exists with the email you  entered. You should receive them shortly.

   If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.

</p>
    
     </p>
    <br>
    <hr>
</div>
 <div class="col-md-6">
 <br>
 <br>
 <br>
    <hr>
                        <div align="middle">
                            <span style="font-weight: bold;">All Coinpot Faucets (7)</span>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://bitfun.co/?ref=A9D519C228F4" ><img src="{% static 'contactpage/images/728x90.gif' %}" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://moonbit.co.in/?ref=a653027b22db"> <img src="{% static 'contactpage/images/728x90~moonbit.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://moondoge.co.in/?ref=a8f5b8d4e3c5"> <img src="{% static 'contactpage/images/728x90dog.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://bonusbitcoin.co/?ref=A28D84435BD9"> <img src="{% static 'contactpage/images/bonusbit.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://moondash.co.in/?ref=B7FEB202E788"><img src="{% static 'contactpage/images/728x90dash.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        
                        <div align="middle">
                            <a href="http://moonliteco.in/?ref=e481f63ad522"><img src="{% static 'contactpage/images/728x90lit.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://moonbitcoin.cash/?ref=29859239DDBF"><img src="{% static 'contactpage/images/728x90cash.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <hr>
 </div>
</div>
</div>
{% endblock %}