 {% extends 'base.html' %}
 {% load static %}
{% load crispy_forms_tags %}

<title> Confirm_Reset_Password | DashNG</title>


{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-6">
        <hr>
        <h1 style="font-family: 'black_jackregular';"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Password reset</h1><br>
        <hr>
        <p>
         <i class="fa fa-key" aria-hidden="true"></i>&nbsp; Read the instructions carefully and your new password will be authenticated in no time.
     </p>
      <form method="post">
    {% csrf_token %}
    {{ form|crispy}}

    {% block button %}
    <button type="submit" class="btn btn-primary btn-md btn-block"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;Reset Password</button>
    {% endblock %}
 </form>
    <br>
    <hr>
</div>
 <div class="col-md-6">
 <br>
 <br>
 <br>
    <hr>
                        <div align="middle">
                            <span style="font-weight: bold;">All Coinpot Faucets (7)</span>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://bitfun.co/?ref=A9D519C228F4" ><img src="{% static 'contactpage/images/728x90.gif' %}" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://moonbit.co.in/?ref=a653027b22db"> <img src="{% static 'contactpage/images/728x90~moonbit.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://moondoge.co.in/?ref=a8f5b8d4e3c5"> <img src="{% static 'contactpage/images/728x90dog.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://bonusbitcoin.co/?ref=A28D84435BD9"> <img src="{% static 'contactpage/images/bonusbit.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://moondash.co.in/?ref=B7FEB202E788"><img src="{% static 'contactpage/images/728x90dash.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        
                        <div align="middle">
                            <a href="http://moonliteco.in/?ref=e481f63ad522"><img src="{% static 'contactpage/images/728x90lit.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <div align="middle">
                            <a href="http://moonbitcoin.cash/?ref=29859239DDBF"><img src="{% static 'contactpage/images/728x90cash.gif' %}" class="img-responsive" alt="" /></a>
                        </div>
                        <hr>
                        <hr>
 </div>
</div>
</div>
{% endblock %}