{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% include 'newpartials/head.html' %}
</head>
<body>
  {% block notice %}
  {% endblock notice %}
  {% if not user.is_authenticated %}  
  {% include 'newpartials/banner.html' %}
  {% else %}
  {% include 'newpartials/banner2.html' %}
  {% endif %}
 
  {% if loginerrormessage %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="alert alert-danger alert-dismissible" role="alert" align="middle" style="background-color: grey; border-radius: 3px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="color:gold;">&times;</span></button>
        <strong><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;<span style="color: whitesmoke;font-weight: bold;">{{loginerrormessage}}</span></strong> 
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  {% endif %}
  {% if  signuperrormessage %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="alert alert-danger alert-dismissible" role="alert" align="middle" style="background-color: grey; border-radius: 3px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="color:gold;">&times;</span></button>
        <strong><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;<span style="color: whitesmoke;font-weight: bold;">{{ signuperrormessage}}</span></strong> 
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  {% endif %}
  {% block content  %}
  {% include 'newpartials/about.html' %}
  {% include 'newpartials/services.html' %}
  {% include 'newpartials/testimonials.html' %}
  {% include 'newpartials/reg_log.html' %}
  {% endblock content %}

  {% include 'newpartials/footer.html' %}
  <!-- copy-right -->
  <div class="copyright-wthree">
    <p>&copy; 2018 DashNG~Vs. All Rights Reserved | Design by <a href="{% url 'BeginningDash:home' %}"> DashNG Team </a></p>
  </div>
  <!-- //copy-right -->

  <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  <!-- //smooth scrolling -->

  
  <script type="text/javascript" src="{% static 'contactpage/js/jquery-2.1.4.min.js' %}"></script>
  <!-- flexSlider -->
  <script defer src="{% static 'contactpage/js/jquery.flexslider.js' %}"></script>
  <script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
  <!-- //flexSlider -->

    
    
  <!-- Dropdown-Menu-JavaScript -->
      <script>
        $(document).ready(function(){
          $(".dropdown").hover(            
            function() {
              $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
              $(this).toggleClass('open');        
            },
            function() {
              $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
              $(this).toggleClass('open');       
            }
          );
        });
      </script>
    <!-- //Dropdown-Menu-JavaScript -->


  <!-- requried-jsfiles-for owl -->
  <script src="{% static 'contactpage/js/owl.carousel.js' %}"></script>
  <script>
    $(document).ready(function() {
      $("#owl-demo2").owlCarousel({
        items : 1,
        lazyLoad : false,
        autoPlay : true,
        navigation : false,
        navigationText :  false,
        pagination : true,
      });
    });
  </script>
  <!-- //requried-jsfiles-for owl -->
  <!-- Countdown-Timer-JavaScript -->
  <script src="{% static 'contactpage/js/simplyCountdown.js' %}"></script>
  <script>
    var d = new Date(new Date().getTime() + 948 * 120 * 120 * 2000);

        // default example
        simplyCountdown('.simply-countdown-one', {
          year: d.getFullYear(),
          month: d.getMonth() + 1,
          day: d.getDate()
        });

        // inline example
        simplyCountdown('.simply-countdown-inline', {
          year: d.getFullYear(),
          month: d.getMonth() + 1,
          day: d.getDate(),
          inline: true
        });

        //jQuery example
        $('#simply-countdown-losange').simplyCountdown({
          year: d.getFullYear(),
          month: d.getMonth() + 1,
          day: d.getDate(),
          enableUtc: false
        });
      </script>
      <!-- //Countdown-Timer-JavaScript -->


      <!--search-bar-->
      <script src="{% static 'contactpage/js/main.js' %}"></script> 
      <!--//search-bar-->


      <!-- start-smoth-scrolling -->
      <script type="text/javascript" src="{% static 'contactpage/js/move-top.js' %}"></script>
      <script type="text/javascript" src="{% static 'contactpage/js/easing.js' %}"></script>
      <script type="text/javascript">
        jQuery(document).ready(function($) {
          $(".scroll").click(function(event){   
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
        });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script type="text/javascript">
        $(document).ready(function() {
      /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

      });
    </script>
    <!-- //here ends scrolling icon -->
    <!--js for bootstrap working-->
    <script src="{% static 'contactpage/js/bootstrap.js' %}"></script>
    <!-- //for bootstrap working -->
    <script type="text/javascript">
      $(document).ready(function(){
        $("#xxxx").click(function(){
          $("#divreg").hide();
          $("#divreg2").show();
        });
        $("#xxxx2").click(function(){
          $("#divreg").show();
          $("#divreg2").hide();
        });
        $("#terms").click(function(){
          $("#divterms").show();
          $("#divreg").hide();
        });
        $("#terms2").click(function(){
          $("#divterms").hide();
          $("#divreg").show();
        });
        $("#privacy").click(function(){
          $("#divpriv").show();
          $("#divreg").hide();
        });
        $("#priv2").click(function(){
          $("#divpriv").hide();
          $("#divreg").show();
        });
        $("#revbutt").click(function(){
          $("#adminnews").hide();
          $("#review").show();
        });
        $("#closebutt").click(function(){
          $("#adminnews").show();
          $("#review").hide();
        });
 
 });
  
       

    </script>
  </body>
  </html>